<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/head %>
</head>

<body id = "body-main">
    <header>
        <% include ../partials/header %>
    </header>

    <div class="jumbotron" id="hero">
        <div class="header">
            <h1>TurnIn</h1>
        </div>
    </div>

    <div id="content">
        <h2> A whole new way to turn in assignments </h2>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>