<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="fileinput-body">

<header><% include ../partials/header.ejs %></header>

<div class="container" id="file-container">
    <div class="row" id="file-row">
        <div class="col-xs-12">
            <div class="well well-lg row">
                <h2>Filebox Not Found</h2>
            </div>
        </div>
    </div>
</div>


</body>
</html>