<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="body-managefiles">
    <header><% include ../partials/header.ejs %></header>
    <div class="container" id="file-container">
        <div class="row" id="file-row">
                <div class="well well-lg" id="file-well">
                  <h1>Filebox Settings</h1>
                    <div class="row" id="manager">
                        <form class="form-horizontal" action="addBox" method="post">
                            <div class="input-group">
                                <input name="newboxname" placeholder="Add Box" type="text" class="form-control" required>
                                <span class="input-group-btn">
                                    <button id="success-button" type ="submit" class="btn btn-success">Add Filebox</button>
                                </span>
                            </div>
                        </form>

                        <form class="form-horizontal" action="removeBox" method="post">
                            <div class="input-group">
                                <input name="oldboxname" placeholder="Remove Box" type="text" class="form-control" required>
                                <span class="input-group-btn">
                                        <button type ="submit" class="btn btn-danger">Remove Filebox</button>
                                    </span>
                            </div>
                        </form>
                    </div>

                    <!-- Error Message -->
                    <p><%= msg %></p>
                </div>
        </div>
    </div>

    <div class="container" id="fc"></div>
    <script src="files.js"></script>
</body>
</html>
