<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="body-managefiles">
    <header><% include ../partials/header.ejs %></header>
    <div class="container" id="file-container">
        <div class="row" id="file-row">
                <div class="well well-lg" id="file-well">
                  <h1>Account Settings</h2>
                </div>
        </div>
    </div>

    <div class="container" id="fc"></div>
    <script src="files.js"></script>
</body>
</html>
