<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="body-managefiles">
    <header><% include ../partials/header.ejs %></header>
    <div class="container" id="file-container">
        <div class="row" id="file-row">
                <div class="well well-lg" id="file-well">
                  <h1>Filebox Settings</h1>
                    <div class="row" id="manager">
                        <form class="form-horizontal" action="addBox" method="post">
                            <div class="form-group col-lg-4">
                                <input name="newboxname"
                                       placeholder="Boxname"
                                       type="text"
                                       class="form-control"
                                       pattern="[^\s]+"
                                       title="No spaces allowed" required>
                            </div>

                            <div class="form-group col-lg-6">
                                <input name="expdate"
                                       value="Expiration Date: YYYY-MM-DD HH:MM:SS"
                                       type="text"
                                       class="form-control"
                                       pattern="^([1-2][0-9]{3,3})-(0?[1-9]|1[0-2])-(0?[1-9]|[1-2][1-9]|3[0-1])\s([0-1][0-9]|2[0-4]):([0-5][0-9]):([0-5][0-9])$"
                                       title="Format: YYYY-MM-DD HH:MM:SS with time in military time" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <button id="success-button" type ="submit" class="btn btn-success">&nbsp&nbsp&nbsp&nbsp Add New Filebox &nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </form>

                        <form class="form-horizontal" action="removeBox" method="post">
                            <div class="form-group col-lg-10">
                                <input name="oldboxname" placeholder="Boxname" type="text" class="form-control" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <button type ="submit" class="btn btn-danger">&nbsp&nbsp Remove Filebox &nbsp</button>
                            </div>
                        </form>

                        <form class="form-horizontal" action="extendTime" method="post">
                            <div class="form-group col-lg-4">
                                <input name="boxname"
                                       placeholder="Boxname"
                                       type="text"
                                       class="form-control"
                                       required>
                            </div>

                            <div class="form-group col-lg-6">
                                <input name="newdate"
                                       value="YYYY-MM-DD HH:MM:SS"
                                       type="text"
                                       class="form-control"
                                       pattern="^([1-2][0-9]{3,3})-(0?[1-9]|1[0-2])-(0?[1-9]|[1-2][1-9]|3[0-1])\s([0-1][0-9]|2[0-4]):([0-5][0-9]):([0-5][0-9])$"
                                       title="Format: YYYY-MM-DD HH:MM:SS with time in military time" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <button id="submit-button" type ="submit" class="btn btn-info">Update Expiration Date</button>
                            </div>
                        </form>

                        <form class="form-horizontal" action="deleteUser" method="post">
                            <div class="form-group col-xs-12">
                                <button id="delete-button" type="submit" class="btn btn-danger">Delete Account</button>
                            </div>
                        </form>
                    </div>

                    <!-- Error Message -->
                    <p><%= msg %></p>
                </div>
        </div>
    </div>

    <div class="container" id="fc"></div>
    <script src="files.js"></script>
</body>
</html>
