#fileinput {
  text-align:left;
  padding: 1em 0;
  margin: 1em 0;
  border: 2px dashed #555
}

#body-main {
	margin: 0;
	padding: 0;
	font-size: 15px;
}

#body-signup {
    background-image:url(https://static.vecteezy.com/system/resources/previews/000/095/282/original/unique-polygon-background-vector.jpg);
}

#fileinput-body {
    background-image:url(https://static.vecteezy.com/system/resources/previews/000/095/282/original/unique-polygon-background-vector.jpg);
    text-align: center;
}

#body-managefiles {
    background-image:url(https://static.vecteezy.com/system/resources/previews/000/095/282/original/unique-polygon-background-vector.jpg);
    text-align: center;
}

#hero{
  background-image:url(https://static.vecteezy.com/system/resources/previews/000/095/282/original/unique-polygon-background-vector.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}

.navbar {
	margin-bottom: 0!important;
}

.navbar-nav li {
  float: none;
  text-align: center;
}

#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#content h2{
  text-align: center;
  margin:0px 0px 30px 0px;
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}

#html_css_js {
	margin: auto;
}

#success_message{ display: none;}

#contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

#contact_form input:required:valid, .contact_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

#signup-container {
	display: table;
	padding: 40px;
}

#contact_form {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.upload-btn {
    border: none;
    color: #FFFFFF;
    background-color: #337AB7;
}

.panel-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#upload-input {
    display: none;
}

#uploadicon {
    font-size: 5em;
    color: #9CA3A9;
}

#file-container {
    padding: 40px;
}

#searchbar {
    padding: 40px;
}

#success-button {
    background-color: #00B9BC;
}

.btn-justified {
    padding: 5px;
    display: table;
    width: 100%;
}

#manager {
    padding: 10px;
}